---
layout: default
---

<section class="hero">
    <h1 class="logo">
        <span class="logo-smallText">the</span>
        <span class="logo-bigText">Cephalopod</span>
        <span class="logo-bigText">Equipment</span>
        <span class="logo-smallText">corp.</span>
    </h1>

    <h2 class="valueProp js-prevent-widows">
        {{ site.data.company-info.valueProp }}
    </h2>

    <p class="description js-prevent-widows">
        {{ site.data.company-info.description }}
    </p>
</section>

<section
    class="supportedNetworks section-container js-tabs"
    id="{{ site.data.networks-we-support.sectionHandle }}"
>
    <h2 class="section-title">
        {{ site.data.networks-we-support.sectionTitle }}
    </h2>

    <div class="supportedNetworks-tabs">
        {% for network in site.data.networks-we-support.networks %}
            <div class="supportedNetworks-tab js-tab">
                <img
                    src="/assets/img/network-logos/{{ network.image }}"
                    alt="{{ network.title }} Logo"
                />
            </div>
        {% endfor %}
    </div>

    {% for network in site.data.networks-we-support.networks %}
        <div class="supportedNetworks-metaData js-tab-content">
            <h2 class="supportedNetworks-hiddenTabContents">
                {{ network.title }}
            </h2>
            {% if network.fancyHeading.label %}
                <div class="delegateWithUs">
                    <div class="delegateWithUs-title">
                        {{ network.fancyHeading.label }}
                    </div>
                    <p>
                        <code class="text delegateWithUs-key">
                            {{ network.fancyHeading.value | markdownify }}
                        </code>
                    </p>
                </div>
            {% endif %}
            {% if network.description %}
                <div class="markdown text">
                    {{ network.description | markdownify }}
                </div>
            {% endif %}
            {% for datum in network.data %}
                <div class="supportedNetworks-metaDatum">
                    <h3 class="supportedNetworks-metaDatumTitle">
                        <i class="icon fal fa-{{ datum.icon }}" aria-hidden></i>
                        {{ datum.title }}
                    </h3>
                    <ul class="supportedNetworks-metaDatumValues">
                        {% for value in datum.values %}
                            <li class="text supportedNetworks-metaDatumValue">
                                {{ value }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>

<section
    class="section-container"
    id="{{ site.data.why-stake-with-us.sectionHandle }}"
>
    <h2 class="section-title">
        {{ site.data.why-stake-with-us.sectionTitle }}
    </h2>

    <div class="whyStakeWithUs-reasons">
        {% for reason in site.data.why-stake-with-us.reasons %}
            <div class="whyStakeWithUs-reason">
                <h3 class="whyStakeWithUs-reasonTitle">
                    <i class="icon fal fa-{{ reason.icon }}" aria-hidden></i>
                    {{ reason.title }}
                </h3>

                <p class="markdown text whyStakeWithUs-reasonDescription">
                    {{ reason.description | markdownify }}
                </p>
            </div>
        {% endfor %}
    </div>
</section>

<section
    class="team section-container js-tabs"
    id="{{ site.data.team.sectionHandle }}"
>
    <h2 class="section-title">
        {{ site.data.team.sectionTitle }}
    </h2>

    <div class="markdown text section-intro js-prevent-widows">
        {{ site.data.team.sectionIntro | markdownify }}
    </div>

    <div class="team-people">
        {% for person in site.data.team.people %}
            <div class="team-person js-tab">
                <h3 class="team-personName">
                    {{ person.name }}
                </h3>

                <div class="team-portraitContainer">
                    <img
                        class="team-portrait"
                        src="/assets/img/people/{{ person.image }}"
                        alt="Photo of {{ person.name }}"
                    />
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="team-bioContainer">
        {% for person in site.data.team.people %}
            <div class="team-bio js-tab-content">
                <div class="team-bioName">
                    {{ person.name }}
                </div>
                
                <div class="team-bioPortraitContainer">
                    <img
                        class="team-portrait"
                        src="/assets/img/people/{{ person.image }}"
                        alt="Photo of {{ person.name }}"
                    />
                </div>

                <p class="markdown text team-bioContent js-prevent-widows">
                    {{ person.bio | markdownify }}
                </p>
            </div>
        {% endfor %}
    </div>
</section>
