---
layout: page
title: Cephalopod Equipment
---

<!-- <img src="{{ site.baseurl }}/public/octopus-1.jpeg" alt="wonderfully colorful coral"> -->

<p>Hello and welcome!</p>
<p>We are the Cephalopod Equipment Corp. — a small, independent network validator based in Toronto, Canada. 🇨🇦</p>
<p>We exist to enable global and local participant owned networks.</p>

<!-- <img class="cephalopod" src="/public/cephalopod.jpg" alt="Octopus"> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->