<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="https://kit.fontawesome.com/b5d5066112.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="siteNavigation">
            <div class="siteNavigation-contents">
                <button
                    aria-pressed="false"
                    class="animationToggleButton toggleButton"
                    role="switch"
                    tabindex="0">
                    Animate Background
                </button>

                <ul class="siteNavigation-items">
                    <li class="siteNavigation-item">
                        <a
                            class="siteNavigation-button"
                            href="#{{ site.data.networks-we-support.sectionHandle }}"
                        >
                            {{ site.data.networks-we-support.sectionTitle }}
                        </a>
                    </li>
                    <li class="siteNavigation-item">
                        <a
                            class="siteNavigation-button"
                            href="#{{ site.data.why-stake-with-us.sectionHandle }}"
                        >
                            {{ site.data.why-stake-with-us.sectionTitle }}
                        </a>
                    </li>
                    <li class="siteNavigation-item">
                        <a
                            class="siteNavigation-button"
                            href="#{{ site.data.team.sectionHandle }}"
                        >
                            {{ site.data.team.sectionTitle }}
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <main class="gridContainer">
            {{ content }}
        </main>

        <footer class="siteFooter">
            <div class="siteFooter-wrapper">
                <div class="siteFooter-plant"></div>
                <div class="siteFooter-plant"></div>
                <div class="siteFooter-plant"></div>
                <div class="siteFooter-plant"></div>
                <div class="siteFooter-contents">
                    <nav class="siteFooter-nav">
                        <ul class="siteFooter-navItems">
                            <li class="siteFooter-navItem">
                                <a
                                    href="#{{ site.data.networks-we-support.sectionHandle }}"
                                    class="siteFooter-navButton"
                                >
                                    {{ site.data.networks-we-support.sectionTitle }}
                                </a>
                            </li>
                            <li class="siteFooter-navItem">
                                <a
                                    href="#{{ site.data.why-stake-with-us.sectionHandle }}"
                                    class="siteFooter-navButton"
                                >
                                    {{ site.data.why-stake-with-us.sectionTitle }}
                                </a>
                            </li>
                            <li class="siteFooter-navItem">
                                <a
                                    href="#{{ site.data.team.sectionHandle }}"
                                    class="siteFooter-navButton"
                                >
                                    {{ site.data.team.sectionTitle }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="siteFooter-legalAndSocial">
                        <nav class="legalLinks">
                            <ul class="legalLinks-items">
                                <li class="legaLinks-item">
                                    <a href="#" class="legalLink">Terms of Service</a>
                                </li>
                                <li class="legaLinks-item">
                                    <a href="#" class="legalLink">Privacy Policy</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="socialLinks">
                            <ul class="socialLinks-items">
                                {% for socialLink in site.data.company-info.socialLinks %}
                                    <li class="socialLinks-item">
                                        <a
                                            title="{{ socialLink.label }}"
                                            href="{{ socialLink.url }}"
                                            class="socialLinks-button"
                                        >
                                            <i class="{{ socialLink.icon }}" aria-hidden></i>
                                            <span class="socialLinks-buttonLabel">
                                                {{ socialLink.label }}
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        <div class="bubbles">
            <!--
                Bubbles will be inserted by Javascript

                <div
                    class="bubble-track"
                    style="
                        --bubble-color: [...]; // green | pink | peach | yellow | neon | green
                        --bubble-size: [...];  // 30px; diameter of bubble
                        --track-height: [...]; // 100%; distance from bottom at which point bubble fades
                        --track-speed: [...];  // 60s; time from top to bottom
                        --track-width: [...];  // 5vw; left-to-right movement distance
                    "
                >
                    <div class="bubble-wrapper">
                        <div class="bubble"></div>
                    </div>
                </div>
            -->
        </div>

        <script
            type="text/javascript"
            src="/assets/js/main.js">
        </script>
    </body>
</html>
